# canonical name and email                                         alias to rewrite
Christopher Ridad <christopher.ridad@u.northwestern.edu>           Chris <christopherridad@gmail.com>
Christopher Ridad <christopher.ridad@u.northwestern.edu>           christopher-ridad <157936463+christopher-ridad@users.noreply.github.com>

Stanley Du <stanley.du@u.northwestern.edu>                         dudu-theman <dustanley07@gmail.com>
Stanley Du <stanley.du@u.northwestern.edu>                         Stanley Du <dustanley07@gmail.com>

Eric Oh <eric.oh@u.northwestern.edu>                               ericjhoh <157835858+ericjhoh@users.noreply.github.com>
Eric Oh <eric.oh@u.northwestern.edu>                               ericjhoh <ericoh121@gmail.com>

Valary Anguzuzu <valary.anguzuzu@u.northwestern.edu>               Valary Anguzuzu <anguzuzuvalary@gmail.com>
Valary Anguzuzu <valary.anguzuzu@u.northwestern.edu>               Valary Anguzuzu <149324620+ValaryAnguzuzu@users.noreply.github.com>

Corey Zhang <corey.zhang@u.northwestern.edu>                       coreyczhang <coreyzhang2020@outlook.com>
Corey Zhang <corey.zhang@u.northwestern.edu>                       Corey Zhang <82017428+coreyczhang@users.noreply.github.com>
